REACT_APP_GOOGLE_MAPS_API_KEY=YOUR KEY HERE
REACT_APP_CONSUMER_KEY=YOUR KEY HERE
REACT_APP_CONSUMER_SECRET=YOUR KEY HERE
REACT_APP_TWITTER_ACCESS_TOKEN_KEY=YOUR KEY HERE
REACT_APP_TWITTER_ACCESS_TOKEN_SECRET=YOUR KEY HERE
REACT_APP_SUBSCRIPTION_KEY==YOUR KEY HERE