.Container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 3fr 3fr 3fr;
  padding-top: 4rem;
  padding-bottom: 8rem;
  gap: 2rem 1.75rem; 
  grid-template-areas: 
    "title title"
    "coughing distancing"
    "Gathering Work" 
    "Essential Logo";

    .Title {
      grid-area: title;  
      animation-delay: 0s;
      animation-duration: 2s;
      animation-name: slideInFromTop;
      width: 80%;
      margin: auto;
      display: flex;
      align-items: end;
      
    }

    .coughing {
      grid-area: coughing;
      width: 85%;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      animation-delay: 0s;
      animation-duration: 2s;
      animation-name: slideInFromLeft;

      img {
        width: 230px;
        height: 180px;
        padding-left: 5%;
     
      } 

      .text {
        padding-left: 5%;
        padding: 0% 5% 0% 7%;  
        font-weight: 500;
        font-size: large;
      }
    }

    .distancing {
      grid-area: distancing;
      width: 80%;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-right: 5%;
      animation-delay: 0s;
      animation-duration: 2s;
      animation-name: slideInFromRight;

      img {
        width: 310px;
      }

      .text {
        font-size: large;
        font-weight: 500;
      }
    }

    .Gathering {
      grid-area: Gathering;
      width: 85%;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      animation-delay: 0s;
      animation-duration: 2s;
      animation-name: slideInFromLeft;


      img {
        width: 320px;
      }

      .text {
        padding-right: 6%;
        font-weight: 500;
        font-size: large;
      }
    }

    .Work {
      grid-area: Work;
      width: 80%;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-right: 5%;
      animation-delay: 0s;
      animation-duration: 2s;
      animation-name: slideInFromRight;

      
      img {
        width: 310px;
      }

      .text {
        font-size: large;
        font-weight: 500;
      }
    }

    .Essential {
      grid-area: Essential;
      width: 80%;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-right: 5%;
      animation-delay: 0s;
      animation-duration: 2s;
      animation-name: slideInFromLeft;

      img {
        width: 300px;
        padding-left: 1.5%
      }

      .text {
        font-size: large;
        font-weight: 500;
        padding-left: 0.5%
      }
    }

    .Logo {
      grid-area: Logo;
      width: 85%;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      animation-delay: 0s;
      animation-duration: 2s;
      animation-name: slideInFromRight;

      img {
        width: 210px;
        height: 210px;
      }

      .text {
        font-size: large;
        font-weight: 500;
      }
    }

    .Logo:hover {
      transform: scale(1.10);
      transition: .5s ease;
    }


    @keyframes slideInFromLeft {
      0%   { opacity: 0; }
      100% { opacity: 1; }
      0% {
        transform: translateX(-30%);
      }
      100% {
        transform: translateX(0);
      }
    }
    
    @keyframes slideInFromRight {
      0%   { opacity: 0; }
      100% { opacity: 1; }
      
      0% {
        transform: translateX(30%);
      }
      100% {
        transform: translateX(0);
      }
    }

    @keyframes slideInFromTop {
      0%   { opacity: 0; }
      100% { opacity: 1; }
      0% {
        transform: translateY(-80%);
      }
      100% {
        transform: translateY(0);
      }
    }
}

