

.Article {
  width :325px;
  border: solid;
  border-color: rgb(192, 187, 187);
  margin-top: 25px;
  border-radius: 15px;
  float: left;
  margin: 20px;
    //   align-items: center;
    // flex-direction: column
  
}

img {
  height: 200px;
  width: 325px;
  border-radius: 12px 12px 0px 0px;
}

.desc {
  width: 325px;
  height: 70px;
  
}

.date {
  width: 325px;
  
}

