.News {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 26rem 26rem;
  margin: 5%;
  margin-top: 4rem;
  gap: 1.25rem 1.75rem;
  grid-template-areas: 
    "articles articles articles tweets"
    "articles articles articles tweets";

  .Articles {
    grid-area: articles;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: inherit;
    gap: 1.5rem 1.75rem;

    .Article {
      position: relative;
      display: grid;
      overflow: hidden;
      grid-template-rows: 63% 28% 9%;
      transition: width 1s;
      transition: all .3s ease-in-out;
      grid-template-areas: 
        'image' 
        'title' 
        'date';
      animation-delay: 0.5s;
      animation: 1.3s ease-out 0s 1 slideInFromBottom;

      }
      
      img {
        grid-area: image;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .title {
        grid-area: title;
        font-weight: 900;
        padding: 0.25rem 1rem;
      }

      .date {
        grid-area: date;
        padding: 0rem 0.3rem 0.0rem 0.3rem;
      }

      .overlay {
        position: absolute;
        bottom: 100%;
        left: 0;
        right: 0;
        background-image: linear-gradient( rgb(78, 98, 212),rgb(78, 98, 212), rgba(255,0,0,0));
        overflow: hidden;
        width: 100%;
        height:0;
        transition: .5s ease;
      }

      .text {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 85%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
      }
    }

    .Article:hover {
      transform: scale(1.04);
    }

    .Article:hover .overlay {
      bottom: 76%;
      height: 100%;
    }
  }

  .Tweets {
    grid-area: tweets;
    overflow: hidden;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 1.25rem;

    .tweet {
      border-radius: 1rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1.5fr .5fr;
      width: 95%;
      justify-self: center;
      grid-template-areas: 
      "image logo"
      "text text" 
      "date username";
      animation-delay: 0.5s;
      animation: 1.5s ease-out 0s 1 slideInFromRight;

      
      .img {
        grid-area: image;
        justify-self: start;
        border-radius: 0.5rem;
        padding: 0.75rem 0rem 0rem 0.75rem;
      }

      .logo {
        grid-area: logo;
        justify-self: end;
        padding-top: 0.75rem;
        padding-right: 0.75rem;
      }
    
      .text {
        grid-area: text;
        padding: 0.75rem 0rem 0rem 0.75rem;
      }
      
      .date {
        grid-area: date;
        justify-self: start;
        align-self: end;
        padding-left: 0.75rem;
        padding-bottom:0.5rem;
        padding-top:0.5rem;
      }

      .username {
        grid-area: username;
        justify-self: end;
        align-self: end;
        padding-right: 0.90rem;
        padding-bottom: 0.5rem;
      }

      .username:hover {
        transform: scale(1.05);
      }
    }
  }


  @keyframes slideInFromBottom {
    0% {
      transform: translateY(13%);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes slideInFromRight {
    0%   { opacity: 0; }
    100% { opacity: 1; }
    
    0% {
      transform: translateX(30%);
    }
    100% {
      transform: translateX(0);
    }
  }