.desc {
  width: 335px;
  height: 70px;
}

.Article {
  width :335px;
  border: solid;
  border-color: rgb(192, 187, 187);
  margin-top: 25px;
  border-radius: 15px;
}

.date {
  width: 335px;
}

img {
  width: 335px;
  border-radius: 12px 12px 0px 0px;
}