tweet {
  border: solid;
    width: 300px;
    border-color: grey;
    border-radius: 15px;
    padding-top: 10px;
    padding-left: 10px; 
}

date {
  height: 20px;
}

col s2 {
  height: 60px;
}

col s10 {
  padding-top: 10px;
  height: 30px;
}

user {
  padding-bottom: 10px;
}