.Stats {
    display: grid;
    justify-items: center;
    margin: 1%;
    column-gap: 1%;
    row-gap: 3%;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 0.125fr 1fr 1fr;
    grid-template-areas: 
        "header header"
        "ButtonGroup LineChart"
        "RadarChart .";

    header {
        grid-area: header;
        display: grid;
        width: 100%;
        column-gap: inherit;
        row-gap: inherit;
        grid-template-columns: inherit;
        grid-template-areas: "A B";

        >.A {
            grid-area: A;
        }

        >.B {
            grid-area: B;
        }
    }

    .ButtonGroup {
        grid-area: ButtonGroup;
        width: 100%;
        padding: 2%;
        box-sizing: border-box;
        display: grid;
        gap: 2%;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);

        button .MuiButton-label {
            display: flex;
            flex-direction: column;

            .Progress {
                width: 100%;
            }
        }
    }

    .LineChart {
        grid-area: LineChart;
        width: 100%;
        padding: 1%;
        box-sizing: border-box;
    }

    .RadarChart {
        grid-area: RadarChart;
        width: 100%;
    }
}