.Stats {
    display: grid;
    justify-items: center;
    margin: 1%;
    margin-top: 4rem;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 4rem 1fr 1fr;
    grid-template-areas: 
        "header header header"
        "ButtonGroup LineChart LineChart"
        "RadarChart . .";

    header {
        grid-area: header;
        display: grid;
        width: 100%;
        gap: inherit;
        grid-template-columns: inherit;
        grid-template-areas: "toggle select select";

        >.toggle {
            grid-area: toggle;
            padding: 2%;

            button {
                margin-right: 2%;
            }
        }

        >.select {
            grid-area: select;
            padding: 1%;

            button {
                height: 100%;
                margin-right: 1%;
            }
        }
        
        >.toggle, >.select {
            box-sizing: border-box;

            button {
                height: 100%;
            }

            button:last-of-type {
                margin-right: 0;
            }
        }
    }

    .ButtonGroup {
        grid-area: ButtonGroup;
        width: 100%;
        padding: 2%;
        box-sizing: border-box;
        display: grid;
        gap: 2%;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);

        button .MuiButton-label {
            display: flex;
            flex-direction: column;

            .Progress {
                width: 100%;
            }
        }
    }

    .LineChart {
        grid-area: LineChart;
        width: 100%;
        padding: 1%;
        box-sizing: border-box;
    }

    .RadarChart {
        grid-area: RadarChart;
        width: 100%;
    }
}