.Stats {
    display: grid;
    justify-items: center;
    margin: 20px;
    grid-template-columns: 2% 1fr 1fr 2%;
    grid-template-rows: 40px 1fr 1fr;
    grid-template-areas: 
        ". ButtonGroup ButtonGroup ."
        ". Chart Chart .";

    .ButtonGroup {
        grid-area: ButtonGroup;
    }

    .Chart {
        grid-area: Chart;
        width: 100%;
        text-align: center;
    }
}